.wp-stay-planner-component.search-bar form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: var(--wp--preset--color--accent-1);
    padding: 20px;
    border-radius: 10px;
}

.wp-stay-planner-component.search-bar form .form__element + .form__element {
    padding-left: .5rem;
}
